* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
}

.copyright > * {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 10px;
}

.headers {
    background-color: #1F2937;
    color: #e5e7eb;

    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px;


}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    font-size: 10px;
    padding-right: 70px;

}

.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    padding-left: 70px;

}