* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
}

.copyright > * {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 16px;
    font-size: 10px;
}

.headers {
    background-color: #1F2937;
    color: #e5e7eb;

    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px;


}

.links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    font-size: 10px;
    padding-right: 70px;

}

.logo {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    padding-left: 70px;

}

.first {
    background-color: #1F2937;
    color: #e5e7eb;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.rick1 {
    display: flex;
    align-items: flex-end;
    justify-self: flex-end;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-wrap: wrap;    
}

.hero {

    font-size: 48px;
    font-weight: 900;

}

.subtext {
    font-size: 18px;

    color: #e5e7eb;
}

button {
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 5px;
    box-shadow: none;
    padding: 1px 10px;
    border: none;

}


.third {
    color: #1F2937;
}

.some {
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.images {
    display: flex;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card > img {
    width: 100px;
    border-radius: 15%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

}

.fourth {
    background-color: #e5e7eb;
    color:#1F2937;
    padding: 40px; 
    margin: 40px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.quote {
    font-size: 36px;
    font-weight: 300;
}
.author {
    font-weight: bold;

}

.container {
    background-color: #3882f6;
    color:#e5e7eb;
    margin: 100px; 
    padding: 20px;

    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.lower {
    background-color: #3882f6;
    display: flex; 
    gap: 40px;
}

.upper {
    display: flex;

}

.container button {
    border:2px #e5e7eb solid;
}